<form action="/square_root/results">
  <div>
    <label for="product">Enter a Number</label>
    <input id="product" placeholder="What number do you want"type="text" name="number">
  </div>
  <button>Calculate square root</button>
</form>
