<form action="/square/results">
  <div>
    <label for="base"><div>Enter a Number</div></label>
    <input id="base" placeholder="What number do you want" type="text" name="number">
  </div>
  <button>Calculate Square</button>
</form>
